body {
    font-family: Alrial, sans-serif;
    background: linear-gradient(180deg, #C8DBFF, #96AEDD, #6481BB, #325499, #002776);
}

div.logo {
    width: 550px;
    height: 150px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}

div.logo img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

div.search-bar {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;

}

div.search-bar input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

div.search-bar button {
    font-size: 14px;
    color: white;
    background-color: #764f00;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}



div.emissions img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

div.emissions {
    width: auto;
    height: auto;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
    margin-bottom: 30px;
    margin-top: 30px;
}

button.watch {
    font-size: 14px;
    color: white;
    background-color: #764f00;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button.watch:hover {
    background-color: #b57900;
}

div.search-bar button:hover {
    background-color: #b57900;
}

p.date {
    margin-left: 10px;
}

div.infos {
    display: flex;
    align-items: center;
}

div.infos>* {
    margin: 10px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.a-propos,
.equipe {
    width: 50%;
    /* Each div takes up 50% of the container */
    box-sizing: border-box;
    /* Include padding and border in width */
    padding: 20px;
    /* Add some padding */
}

div.a-propos {
    width: 400px;
    height: auto;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.a-propos h2,
h3,
h4 {
    margin-left: 20px;
}

div.a-propos p {
    margin-left: 30px;
    margin-right: 30px;
}


#h1-equipe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


div.equipe {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 800px;
    height: auto;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.membre {
    background-color: #dfd3d3;
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.membre .post,
.membre .text {
    margin: 5px 0;
}


div.membre button.follow-me {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #e7e7e7;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}